*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #a8a8a8;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}
.container{
    margin-top: 50px;
    text-align: center;
}


.menu{
    text-align: center;
    border-bottom: 0.5px solid #ebebeb;
}

.menu a{
    color: #a8a8a8;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.my-text{
    color: #a8a8a8;
    font-size: 14px;
    text-align: start;
    line-height: 2;
    max-width:300px;
    margin:auto;
}


.form-title{
    color: #a8a8a8;
    font-size:15px;
    padding: 25px 0px;
}
.input-container {
    background: #f6f6f6;
    margin-bottom: 15px;
    border:0.5px solid #c3c3c3;
    border-radius: 5px;
    padding: 5px 10px;
    text-align:left;
  }


.icon {
    padding: 10px 0px;
    color: #aaaaaa;
    min-width: 25px;
  }

  .input{
    outline: none;
    border:none;
    background:#f6f6f6 ;
    text-align:left;
  }
  
  .input-field:focus {

  border: 2px solid dodgerblue;
  }
  ::placeholder{
 color: #aaaaaa;
  }
.btn{
    background: #35c594;
    color:#fff;
    margin:25px 0px;
    padding: 7px 30px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}

.alert-danger{
    font-size: 12px;
    color:red;
}

.text_success{
    background: green;
    padding:20px;
}

.iconnew > p{
    font-family: 'Open Sans', sans-serif;
    display: inline;
}

.in-line > a > p {
    display: inline;
    padding: 25px;
}

.title{
    font-size: 18px;
    color:aaaaaa;
    font-weight: 700;
    padding-bottom:5px;
    padding-top:25px;
}